.icons-sprite, .icons-bag, .icons-bats, .icons-candle, .icons-candy, .icons-cat, .icons-ghost, .icons-hat, .icons-monster, .icons-moon, .icons-mummy, .icons-owl, .icons-pot, .icons-pumpkin, .icons-skull, .icons-spider, .icons-web {
  background-image: url('../img/icons-s232518bca0.png');
  background-repeat: no-repeat;
}

.icons-bag {
  background-position: 0 0;
}

.icons-bats {
  background-position: 0 -200px;
}

.icons-candle {
  background-position: 0 -400px;
}

.icons-candy {
  background-position: 0 -600px;
}

.icons-cat {
  background-position: 0 -800px;
}

.icons-ghost {
  background-position: 0 -1000px;
}

.icons-hat {
  background-position: 0 -1200px;
}

.icons-monster {
  background-position: 0 -1400px;
}

.icons-moon {
  background-position: 0 -1600px;
}

.icons-mummy {
  background-position: 0 -1800px;
}

.icons-owl {
  background-position: 0 -2000px;
}

.icons-pot {
  background-position: 0 -2200px;
}

.icons-pumpkin {
  background-position: 0 -2400px;
}

.icons-skull {
  background-position: 0 -2600px;
}

.icons-spider {
  background-position: 0 -2800px;
}

.icons-web {
  background-position: 0 -3000px;
}

@font-face {
  font-family: "Griffin";
  src: url("../fonts/Griffin.ttf");
}
* {
  margin: 0;
  padding: 0;
}

header {
  top: 0;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  /*background: repeating-linear-gradient(
  	135deg,
  	#101010,
  	#101010 20px,
  	#ff6e20 20px,
  	#ff6e20 40px
  );*/
  text-align: center;
  background-color: #232323;
}

h1 {
  padding: 10px 30px;
  margin: 0;
  background-color: #232323;
  font-family: "Griffin", cursive;
  font-size: 72px;
  letter-spacing: 2px;
  color: #ff7c16;
}

main {
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
  text-align: center;
}

.divide {
  width: 100%;
  height: 80px;
  background-color: #ff7c16;
  font-family: "Griffin", cursive;
  font-size: 50px;
  color: #232323;
  line-height: 80px;
}

.container {
  width: 100%;
  padding: 20px;
  margin: 0;
}

.content {
  display: flex;
  width: 700px;
  align-items: center;
  margin: 0 auto;
}

#origins1-container {
  background-color: #9158B6;
}

#origins2-container {
  background-color: #FFA944;
}

#origins3-container {
  background-color: #FF9922;
}

#american1-container {
  background-color: #9158B6;
}

#american2-container {
  background-color: #754495;
}

#american3-container {
  background-color: #FFA944;
}

#today-container {
  background-color: #9158B6;
}

#superstition-container {
  background-color: #FFA944;
}

.text {
  width: 500px;
  color: white;
}

.text p {
  margin-bottom: 10px;
}

i {
  height: 200px;
  width: 200px;
  margin: 30px;
  display: inline-block;
}

li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
li a {
  display: inline-block;
  width: 200px;
  height: 200px;
}
li a span {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
.line {
  display: block;
  height: 1px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #c5c5c5;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
